<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipe blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
  </head>

  <body>
    <header class="header">
      <div class="inner">
        <div class="nav">
          <div class="nav__left">
            <%= link_to image_tag("8.png", class: :logo), root_path %>
          </div>

              <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

              <form method="get" action="#" class="search_container">
                <input type="text" size="25" placeholder="キーワードを入力">
                <input type="submit" value="&#xf002">
              </form>

              <div class="nav__logout" id="lists">カテゴリで探す</div>

          <% if user_signed_in? %>
            <div class="nav__right">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: :nav__logout %>
              <%= link_to "New Proto", new_post_path, class: :nav__btn %>
            </div> 
          <% else %>
            <div class="nav__right">
              <%= link_to "ログイン", new_user_session_path, class: :nav__btn %>
              <%= link_to "新規登録", new_user_registration_path, class: :nav__btn %>
            </div>
          <% end %>
          
        </div>
        
      </div>

    </header>

    <%= yield %>
    <footer class="footer">
      <p class="copyright">Copyright © Recire blog All rights reserved.</p>
    </footer>
  </body>
</html>


 <ul class="show-lists hidden" id="pull-down">
        <li class="pull-down-list" id="pull-lists"><%= link_to 'お肉のおかず', 'root_path' %></li>
        <li class="pull-down-list" id="pull-lists"><%= link_to '魚介のおかず', 'articles/genre/3' %></li>
        <li class="pull-down-list" id="pull-lists"><%= link_to '野菜のおかず', 'articles/genre/4' %></li>
        <li class="pull-down-list" id="pull-lists"><%= link_to 'ご飯もの', 'articles/genre/5' %></li>
        <li class="pull-down-list" id="pull-lists"><%= link_to '卵料理', 'articles/genre/6' %></li>
        <li class="pull-down-list" id="pull-lists"><%= link_to 'パスタ・グラタン', 'articles/genre/7' %></li>
        <li class="pull-down-list" id="pull-lists"><%= link_to '麺類', 'articles/genre/8' %></li>
        <li class="pull-down-list" id="pull-lists"><%= link_to '副菜・サラダ', 'articles/genre/9' %></li>
        <li class="pull-down-list" id="pull-lists"><%= link_to '汁物・シチュー', 'articles/genre/10' %></li>
        <li class="pull-down-list" id="pull-lists"><%= link_to 'お菓子・スイーツ', 'articles/genre/11' %></li>
      </ul>