<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipe blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
  </head>

  <body>
    <header class="header">
      <div class="inner">
        <div class="nav">
          <div class="nav__left">
            <%= link_to image_tag("8.png", class: :logo), root_path %>
          </div>

              <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

              <%= form_tag(search_posts_path,:method => 'get',class: :search_form) do %>
                <%= text_field_tag :search %>
                <%= submit_tag '検索', :name => nil, class: :search_btn %>
              <% end %>
              
              <div class="nav__logout" id="lists">カテゴリで探す</div>

          <% if user_signed_in? %>
            <div class="nav__right">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: :nav__logout %>
              <%= link_to "新規投稿", new_post_path, class: :nav__btn %>
              <%= link_to "#{current_user.name}", user_path(current_user.id), class: :nav__name %>
            </div> 
          <% else %>
            <div class="nav__right">
              <%= link_to "ログイン", new_user_session_path, class: :nav__btn %>
              <%= link_to "新規登録", new_user_registration_path, class: :nav__btn %>
            </div>
          <% end %>
          
        </div>
        
      </div>

    </header>

    <%= yield %>
    <footer class="footer">
      <p class="copyright">Copyright © Recire blog All rights reserved.</p>
    </footer>
  </body>
</html>


 <ul class="show-lists hidden" id="pull-down">
        <li class="pull-down-list" id="pull-lists"><%= link_to 'お肉のおかず', '/posts/category/2' %></li>
        <li class="pull-down-list" id="pull-lists"><%= link_to '魚介のおかず', '/posts/category/3' %></li>
        <li class="pull-down-list" id="pull-lists"><%= link_to '野菜のおかず', '/posts/category/4' %></li>
        <li class="pull-down-list" id="pull-lists"><%= link_to 'ご飯もの', '/posts/category/5' %></li>
        <li class="pull-down-list" id="pull-lists"><%= link_to '卵料理', '/posts/category/6' %></li>
        <li class="pull-down-list" id="pull-lists"><%= link_to 'パスタ・グラタン', '/posts/category/7' %></li>
        <li class="pull-down-list" id="pull-lists"><%= link_to '麺類', '/posts/category/8' %></li>
        <li class="pull-down-list" id="pull-lists"><%= link_to '副菜・サラダ', '/posts/category/9' %></li>
        <li class="pull-down-list" id="pull-lists"><%= link_to '汁物・シチュー', '/posts/category/10' %></li>
        <li class="pull-down-list" id="pull-lists"><%= link_to 'お菓子・スイーツ', '/posts/category/11' %></li>
      </ul>